/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */


body{
    padding: 0 20%;           
}

/* HEADER */

h1 {
    font-size: 48px;
}

.containerDescription {
    width: 100%;

}

.containerDescription-text {
    font-size: 20px;
    line-height: 25.7px;

}


/* OTRO */

main{
    display: flex;
    margin-top: 80px;
}

.container_information{
    width: 75%;
}

/* INFORMACION EXTRA */


.container_information_extra {
    width: 20%;
    height: auto;
    order: 1;
    display: block;
    margin-left: 18px;
    padding:  0 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}


/* selecciona el primer elemento  con esa clase*/
.information_extra:first-child{
 
    /* para que quede solo el elemento en la fila  */
    margin: 50px 0 ;
}


.information_extra{
    width: 100%;
    margin-bottom: 50px;
  }

.information_img {    
    width: 33.17px;
    height: 30.17px;
}

.titleInformation {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 2px;

}

.textInformation {
    font-size: 15px;

}

/* Ingredientes e instrucciones  */

.container-ingredient {
    margin-bottom: 50px;
  
  }

h2.information_title {
    font-size: 28px;
    margin-bottom: 40px;


}


.ingredient_name {
    font-size: 22px;
}

.containerDescrition,
.instruction {
    margin-bottom: 20px;

}

.containerDescrition input {
    height: 30px;
}




.ingredient_Description .description,
.instruction_Description {
    font-size: 15px;    
}


/* Extra */
.containerSource p {
    font-size: 20px;
    margin: 50px 0;
}

footer p {
    font-size: 22px;
    margin: 10px 0;

    
}